* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.container {
  height: 100vh;
  background-color: rgba(25, 161, 173, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.first {
  position: fixed;
  top: -100%;
  left: -25%;
  width: 75%;
  height: 100%;
}
.last {
  position: fixed;
  bottom: -50%;
  right: -20%;
  width: 75%;
  height: 100%;
}
.box {
  min-width: 350px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px;
  z-index: 1;
  height: 350px;
}
.box-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.bg {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 15px 15px 0px 0px;
}
.boy {
  width: 7rem;
  height: 7rem;
  border-radius: 5rem;
  border: 5px solid white;
  margin-top: -4.5rem;
}
.boy-name {
  display: flex;
  align-items: baseline;
  align-items: center;
  gap: 5px;
}
.boy-name h3 {
  text-align: center;
  font-weight: 700;
}
.boy-name span {
  color: rgba(21, 21, 21, 0.522);
  font-weight: 400;
}
.box p {
  text-align: center;
  color: rgba(24, 22, 22, 0.522);
  font-weight: 300;
}
hr {
  margin-top: 20px;
}
/*long footer*/

.long-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 15px;
}
.small-one,
.small-two,
.small-three {
  width: 5rem;
  text-align: center;
}
.small-one h3,
.small-two h3,
.small-three h3 {
  font-weight: 700;
}
.small-one p,
.small-two p,
.small-three p {
  font-size: medium;
  font-weight: 400;
  color: rgba(21, 20, 20, 0.468);
  text-align: center;
  margin-top: 10px;
}

/*mobile view-s*/
@media (max-width: 476px) {
  .container {
    min-width: 180px;
    padding: 30px;
  }
  .box {
    min-width: 280px;
    transition: all 0.8s ease-in;
  }

  .first {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30%;
    left: -45%;
    transition: all 0.8s ease-in;
  }
  .last {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -70%;
    right: -50%;
    transition: all 0.8s ease-in;
  }
  .box-info .bg .boy {
    width: 3rem;
    height: 3rem;
    margin-top: -3rem;
    transition: all 0.8s ease-in;
  }
  .boy-name h3 {
    font-size: 16px;
    font-weight: 700;
    transition: all 0.8s ease-in;
  }
  .boy-name p {
    font-size: 14px;
    font-weight: 400;
    transition: all 0.8s ease-in;
  }
  .box .long-box {
    font-size: 14px;
    transition: all 0.8s ease-in;
  }
  .long-box .small-one h3,
  .small-two h3,
  .small-three h3 {
    transition: all 0.8s ease-in;
    font-size: 14px;
  }
  .long-box .small-one p,
  .small-two p,
  .small-three p {
    transition: all 0.8s ease-in;
    font-size: 14px;
  }
}
